/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	text-align: center;
}



.osoba {
	padding: 30px;
	border: 1px solid grey;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 255, 255, 0.15);
	

}

.popis h2 {
	font-size: 18px;
	font-weight: bold;
}


p {
	margin-bottom: 0;
	text-align: left;
}


/*mobil*/

.osoba {
	text-align: center;
	margin-bottom: 20px;
}

.picture {
	border-radius: 50%;
}
.foto {
	padding-right: 20px;
}

/*tablet*/

@media (min-width: 600px) {
	.tym {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.osoba {
		width: calc((100% - 20px)/2);
		display: flex;
		text-align: left;
	}

	.foto {
		padding-top: 20px;
	}
}


/*PC*/

@media (min-width: 960px) {
	.tym {
		display: flex;
		flex-wrap: nowrap;
		;
	}

	.osoba {
		width: calc(100%/4);
		display: block;
		text-align: center;
		margin: 10px;
	}

	
}